.backToTop{
	position: fixed;
	bottom: 100px;
	right: 10px;
	height: 30px;
	width: 30px;
	transition: all 1s;
	border: none;
	font-size: 12px;
	background-color: #423ef3;
	color: white;
	a{
		color: white;
	}
	.backAnime{
		animation: Up;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-direction: alternate; 
	}
}
@keyframes Up {
	0%{ transform: translateY(-5px);}
	100%{transform: translateY(0px);}
}