@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.mystyle {
  position: relative;
  flex-direction: column;
  text-align: center;
}
.mystyle .left {
  font-size: 2em;
  font-weight: bold;
}
.mystyle .right img {
  position: relative;
  animation-name: success;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 280px;
}
@keyframes success {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

.social .social-icons .myicon {
  display: none !important;
}
.social .social-icons .myicon a {
  text-decoration: none;
  color: black;
}
.social .swipe {
  padding-top: 6px;
}
.social .swipe a {
  text-decoration: none;
  color: black;
}
.social .swipe a span {
  font-size: 11px;
  font-weight: bold;
}
.social .swipe a span svg {
  font-size: 14px;
  color: #7f7c7c;
  animation: scroll;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes scroll {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.brushUp {
  flex-direction: column-reverse;
  text-align: center;
}
.brushUp .left img {
  width: 100%;
  animation: brush;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brush {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slider-img h5 {
  font-size: 17px;
  font-weight: bold;
}
.slider-img p {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .mystyle {
    flex-direction: row;
    text-align: inherit;
  }
  .mystyle .left {
    font-size: 3em;
  }
  .mystyle .right img {
    width: 380px;
  }
  .social .social-icons .myicon {
    display: flex !important;
    font-size: 12px;
  }
  .social .social-icons .myicon div {
    margin-left: 15px;
  }
  .social .social-icons .myicon .Reddit {
    margin-top: 2px;
  }
  .social .social-icons .myicon .Reddit img {
    width: 25px !important;
    margin-right: 10px;
  }
  .social .social-icons .myicon .Twiter {
    margin-top: 6px;
  }
  .social .social-icons .myicon img {
    width: 30px;
  }
  .brushUp {
    flex-direction: row;
    text-align: inherit;
  }
  .brushUp .left img {
    width: 400px;
  }
  .slider-img h5 {
    font-weight: bold;
  }
  .slider-img p {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .mystyle {
    position: relative;
  }
  .mystyle .left {
    font-size: 4em;
    font-weight: bold;
  }
  .mystyle .right img {
    width: inherit;
    height: 420px;
    position: relative;
    animation-name: success;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes success {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(25px);
    }
  }
  .brushUp .left img {
    width: inherit;
  }
}/*# sourceMappingURL=home.css.map */