@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
.title{
	height: 200px;
	width: 100%;
	background: url('../image/daxili.png') center/cover;
	display: flex;
	align-items: center;
	margin: 20px 0;
	h1{
		font-size: 1.5em;
		font-weight: bold;
	}
}
.myContent{
	flex-wrap: wrap;
}
.my-7{
	margin: 6em auto;
}

@media screen and (min-width:768px) {
	.title{
		h1{font-size: 2.2em;}
	}
}